!!!html5
%html
  %head
    %meta{:charaset => "utf-8"}
    %script{:src => "//maps.googleapis.com/maps/api/js?v=3.exp"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/style.css"}

  %body
    %h1 Dominaker
    = yield
